<div style="padding: 0 40px;border: 1px solid #ccc; width: 600px;">
  <div style="
    height: 70px; 
    line-height: 70px; 
    border-bottom: 1px dashed #ccc; 
    color: #5867dd;
    font-weight: 800;
    font-size: 20px;
    text-align: center;">
    QuickAPI
  </div>
  <div style="padding: 28px 0; color: #888;">
    <h1 style="color: #888;">
      尊敬的 <span style="color:#5867dd; margin:0 1px;">#email#</span>， 您好！
    </h1>
    <p>请确认本邮件是否是你需要的。</p>
    <p>请点击下面的地址，根据提示进行邮箱激活：</p>
    <a href="http://localhost:8000/user/signup/#email#/#key#" target="_blank" style="text-decoration: none;
    display: inline-block;
    padding: 8px 25px;
    background: #5867dd;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;">点击完成邮箱验证</a>
    <p>如果单击链接没有反应，请复制下面链接到浏览器窗口中，或直接输入链接。</p>
    <p>http://localhost:8000/user/signup/#email#/#key#</p>
    <p>如您未提交该申请，请不要理会此邮件，对此为您带来的不便深表歉意。</p>
    <div style="text-align: right;margin-top: 50px;">
      <span>QuickAPI</span>
      <div style="margin-top: 4px;">#date#</div>
    </div>
  </div>